[tool.black]
line-length = 88
target-version = ['py310']

[tool.ruff]
target-version = "py310"
line-length = 88

[tool.ruff.lint]
select = ["E", "F", "B", "I", "N", "UP", "D"] # UP untuk pyupgrade (saran Python terbaru)
ignore = ["E501"]

[tool.ruff.lint.isort]
# Menghapus force-grid-wrap karena tidak dikenal oleh Ruff
combine-as-imports = true

[tool.ruff.format]
quote-style = "double"
indent-style = "space"