[tool.black]
line-length = 88
target-version = ['py310']

[tool.ruff]
target-version = "py310"
line-length = 88

[tool.ruff.lint]
# Memilih kategori aturan yang diaktifkan
select = ["E", "F", "I", "B", "C4", "N"]
ignore = ["E501"]

[tool.ruff.lint.isort]
# Menghapus force-grid-wrap karena tidak dikenal oleh Ruff
combine-as-imports = true

[tool.ruff.format]
quote-style = "double"
indent-style = "space"